.cardContent {
  margin-bottom: $spacing-stack-xs;
  width: 100%;

  &:hover .shape {
    background-color: $color-brand-primary-05;
  }

  .heading {
    margin-bottom: $spacing-stack-xxxs;
  }

  /* .heading_subtitle {
    margin-bottom: $spacing-stack-xxs;
  } */

  .image_wrap {
    border: 1px solid $color-neutral-04;
    height: 200px;
    margin-bottom: $spacing-stack-xxxs;
    overflow: hidden;
  
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      overflow: hidden;
      position: relative;
      width: 100%;
    }
  }
 

  .paragraph {
    margin-bottom: $spacing-stack-sm;
  }
}