.cardsContent {
  background-color: $color-neutral-04;
  padding: $spacing-squish-xs-stack;
  padding-top: $spacing-stack-md;

  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
  grid-template-rows: masonry;
}