.cardContent {
  margin-bottom: $spacing-stack-xs;
  width: 357px;

  .heading_small {
    margin-bottom: $spacing-stack-xxxs;
  }

  .heading_subtitle {
    margin-bottom: $spacing-stack-xxs;
  }

  .paragraph {
    margin-bottom: $spacing-stack-sm;
  }
}