.heading_small {
  color: $color-neutral-01;
  font-family: $font-family-highlight;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  line-height: $line-height-distant;
}

.heading_subtitle {
  color: $color-neutral-02;
  font-family: $font-family-highlight;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  line-height: $line-height-medium;
}